@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
    --primary: #3B82F6;
    --text-second: #334155;
    --footer-color: #334155;
    --border-color: #F1F5F9;
    --primary-gray: #64748B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
    --color-primary-color: var(--primary);
    --color-primary-text: var(--text-second);
    --color-footer-bg: var(--footer-color);
    --color-light-border: var(--border-color);
    --color-gray-text: var(--primary-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter), Helvetica, sans-serif;
}


.host-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%), url("/images/host-sec-image.png");
}
